<% layout('boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row w-75 d-flex flex-column">
            <div>
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="text-center">
                            Customer Complaint
                        </h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <span class="font-weight-bold">Title:</span>
                                <br>
                                <%= complaint.title %>
                            </li>
                            <li class="list-group-item">
                                <span class="font-weight-bold">Department:</span>
                                <br>
                                <%= complaint.department %>
                            </li>
                            <li class="list-group-item">
                                <span class="font-weight-bold">Description:</span>
                                <br>
                                <%= complaint.description %>
                            </li>
                            <li class="list-group-item">
                                <span class="font-weight-bold">Customer Info:</span>
                                <br>
                                <div class="d-flex flex-row justify-content-between">
                                    <div>
                                        <span class="font-weight-bold">Name: </span>
                                        <br>
                                        <%= complaint.author.first %>
                                            <%= complaint.author.last %>
                                    </div>
                                    <div>
                                        <span class="font-weight-bold">Age: </span>
                                        <br>
                                        <%= complaint.author.age %>
                                    </div>
                                    <div>
                                        <span class="font-weight-bold">Gender: </span>
                                        <br>
                                        <%= complaint.author.gender %>
                                    </div>
                                    <div>
                                        <span class="font-weight-bold">Email: </span>
                                        <br>
                                        <%= complaint.author.email %>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-6">
                                        <span class="font-weight-bold">Complaint Status:</span>
                                        <br>
                                        <%= complaint.status %>
                                    </div>
                                    <% if (currentUser.admin) { %>
                                        <div class="col-6 border rounded">
                                            <form action="/complaints/<%= complaint.id %>?_method=PUT" method="POST">
                                                <span class="font-weight-bold text-info">Change Status:</span>
                                                <br>
                                                <div class="d-flex flex-row justify-content-around">
                                                    <div class="d-flex flex-column">
                                                        <div>
                                                            <input class="form-check-input" type="radio"
                                                                value="Pending resolution" name="status" id="pending"
                                                                checked>
                                                            <label class="form-check-label" for="pending">Pending
                                                                resolution</label>
                                                        </div>
                                                        <div>
                                                            <input class="form-check-input" type="radio"
                                                                value="Resolved" name="status" id="resolved">
                                                            <label class="form-check-label"
                                                                for="resolved">Resolved</label>
                                                        </div>
                                                        <div>
                                                            <input class="form-check-input" type="radio"
                                                                value="Dismissed" name="status" id="dismissed">
                                                            <label class="form-check-label"
                                                                for="dismissed">Dismissed</label>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <% } %>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="/complaints" class="btn btn-primary my-3">Back to complaints</a>
                </div>
            </div>
        </div>
    </div>